<h1>Update Post</h1>
<textarea class="t-post" placeholder="{{title}}"></textarea>
<textarea class="p-post" placeholder="{{post}}"></textarea>
<button data-id="{{id}}" type="submit" class="btn btn-primary update-post">Publish</button>

<script src="/js/publish.js"></script>