<h1>Update Comment</h1>
<form class="updateCom">
<textarea class="updateCom" placeholder="{{comment_text}}"></textarea>
<button data-id="{{id}}" type="submit" class="btn btn-primary update-post">UPDATE</button>
</form>
<script src="/js/editCom.js"></script>