body {
    background-color: #635985;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    text-decoration: none;
}

.btn {
    background-color: #555555;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px 18px;
}